@font-face {
  font-family: 'Merriweather';
  src: url(https://fonts.googleapis.com/css?family=Merriweather:300,300i,400,400i,700|Roboto:300,300i,400,400i);
}
* {
  box-sizing: border-box;
}

a {
  color: #968772;
}

a:hover {
  color: #967343;
}

body {
  background-color: #F2F1E8;
}



.logo {
  background-image: url("./images/optimized/bent-creek-logo.png");
  position: fixed;
  background-size: cover;
  width: 50px;
  height: 50px;
  margin: 10px 0px 10px 20px;
  z-index: 3;
}

nav {
  background-color: #ffffff;
  display: flex;
  width: 100%;
  height: 70px;
  justify-content: center;
  position: fixed;
  z-index: 2;
}


nav a {
  font-family: 'Roboto', helvetica, sans-serif;
  font-size: 20px;
  color: #2B2F26;
  text-transform: uppercase;
  padding-top: 22px;
  margin:0 33px;
}

nav a:hover {
  color: #CD5D67;
}

nav a:active {
  color: #968772;
}

.active {
  color: #968772;
}



header {
  font-family: 'Merriweather', helvetica, sans-serif;
  text-align: center;
  width: 100%;
}



header h1 {
  color: #131511;
  font-size: 66px;
  font-weight: bolder;
  margin-bottom: 70px;
  margin-top: 0px;
  padding-top: 120px;
}
.images{
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  color: #131511;
  padding-top: 2%;

}
.first-row{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-content: center;
  align-items: center;
  margin: 0 1% 0 1%;
  padding: 1% 0 .5% 0;
}
.second-row{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-content: center;
  align-items: center;
  margin: 0 1% 0 1%;
  padding: .5% 0 2% 0;
}
.product-top{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-content: flex-start;
  align-items: flex-end;
}
.product-bottom{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-content: flex-start;
  align-items: flex-end;
}
.product-top h5 {
  font-family: 'Roboto', helvetica, sans-serif;
  background-color: #2b2f26;
  color: #F2F1E8;
  padding: 15px;
  margin: 0 0 15px 0;
}
.product-bottom h5 {
  font-family: 'Roboto', helvetica, sans-serif;
  background-color: #2b2f26;
  color: #F2F1E8;
  padding: 15px;
  margin: 0 0 15px 0;
}
#succulents{
  background-image: url('./images/optimized/product-1.jpg');
  background-size: cover;
  width: 51%;
  height: 20em;
}
#bowls{
  background-image: url('./images/optimized/product-2.jpg');
  background-size: cover;
  width: 22%;
  height: 20em;

}
#platter{
  background-image: url('./images/optimized/product-3.jpg');
  background-size: cover;
  width: 22%;
  height: 20em;


}
#bluecup{
  background-image: url('./images/optimized/product-4.jpg');
  background-size: cover;
  width: 20%;
  height: 15em;



}
#pitcher{
  background-image: url('./images/optimized/product-5.jpg');
  background-size: cover;
  width: 20%;
  height: 15em;


}
#saki{
  background-image: url('./images/optimized/product-6.jpg');
  background-size: cover;
  width: 33%;
  height: 15em;


}
#wavycup{
  background-image: url('./images/optimized/product-7.jpg');
  background-size: cover;
  width: 20%;
  height: 15em;


}
/*.descriptor{
  font-family: 'Roboto', arial, sans-serif;
  color: #F2EFD7;
  position: relative;
  top: 275px;
  padding: 5px 10px;
  font-size: 16px;
  background-color: black;
  flex-direction: column;

}*/
footer{
  background-color: #2B2F26;
  height: 103px;
  padding: 20px 0 0 25px;
}
/*Newsletter Page*/

main {
  background-image: url(./images/optimized/background-2.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 80vh;
  width: 100vw;
  display: flex;
  justify-content: center;
}

.form-container {
  background-color: white;
  margin: 100px 0;
  padding: 25px;
  width: 50vw;
  height: 60%;
  align-self: flex-start;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-around;
  align-items: center;
}

h2 {
  font-size: 2em;
  font-weight: lighter;
}
h4 {
  font-size: 1.3em;
  font-weight: 300;
  margin-top: -8px;
}

form {
  font-family: Roboto, Arial, Helvetica, sans-serif;
  font-size: 1.3em;
  font-weight: lighter;
  color: grey;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  width: 100%;
  height: 60%;
}

#nameInput, #emailInput {
  width: 100%;
  color: grey;
  border: 0;
  border-bottom: 2px solid #968772;
  min-height: 30px;
  font-size: 0.8em;
}

#nameInput:focus, #emailInput:focus {
  border: 0;
  border-bottom: 2px solid #967343;

}

.form-submit-container {
  background-color: #968772;
  align-self: center;
}

#signupButton {
  color: #F2F1E8;
  background-color: transparent;
  padding: 12px 24px;
}

#signupButton:hover {
  color: #FFFFFF;
}

footer {
  height: 4em;
  background-color: #2B2F26;
  color: #F2F1E8;
  padding: 1.5em;
}
